

a:visited {
  text-decoration: none;
  // color: inherit;
}

a {
  text-decoration: none;
  // color: inherit;
}

.about-contact-content {
  display: grid;
  grid-template-columns: 1fr ;
  grid-gap: 3rem;
  margin-top: 3rem;
}

@media (min-width: $tablet) {
  .about-contact-content {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: $laptop) {
  .about-contact-content {
    grid-template-columns: 1.7fr 1fr;
  }
}

.about-contact-photo {
  width: 100%;
  margin-bottom: 3rem;
}

.about-contact-text {
  font-family: $secondaryFont;
  font-size: 1.3rem;
  color: white;
  line-height: 1.8rem;
  // font-weight: 400;
}

@media (min-width: $desktop) {
  .about-contact-text {
    font-size: 1.7rem;
    line-height: 2.2rem;
    // font-weight: 400;
  }
  
}

.about-contact-text div {
  margin-bottom: 1rem;
}

.resume {
  color: $yellowLight;
  font-family: $mainFont;
  transition: ease-in 0.15s;
  // padding-top: 2rem;
  font-size: 1.5rem;
}

.resume:hover {
  color: $redLight;
  // margin-left: 1rem;
}

@media (min-width: $desktop) {
  .resume {
    font-size: 1.9rem;
  }
  
}


// .home {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr 1fr;
//   grid-gap: 0;
//   filter: brightness(0.2);
// }

// .home img {
//   width: 100%;
// }

// .home2 {
//   grid-gap: 0;
//   filter: brightness(0.2);
//   display: none;
// }

// .home2 img {
//   width: 100%;
// }

// @media (min-width: $laptop) {
// }

// @media (min-width: $desktop) {
//   .home {
//     grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
//   }
//   .home2 {
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
//   }
// }

.contactForm {
  margin-top: 3rem;
  // background-color: $redLight;
  // outline: white solid .3rem;
  // padding: 2rem;
  color: $redLight;

  font-family: $mainFont;

}

.contactName {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

input {
  width: 100%;
  padding: .5rem;
  font-style: oblique;
  font-family: $secondaryFont;
}

// .firstName {
//   width: 100%;
// }

// .lastName {
//   width: 100%;
// }

textarea {
  width: 100%;
  height: 20rem;
  padding: .5rem;
  font-style: oblique;
  font-family: $secondaryFont;
}

.submit {
  background-color: $yellowLight;
  border: none;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
}

.submit:hover {
   background-color: $blueLight;
   transition: .15s ease-in;
}