

a:visited {
  text-decoration: none;
  // color: inherit;
}

a {
  text-decoration: none;
  // color: inherit;
}

.about-contact-content {
  display: grid;
  grid-template-columns: 1fr ;
  grid-gap: 3rem;
  margin-top: 3rem;
}

@media (min-width: $tablet) {
  .about-contact-content {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: $laptop) {
  .about-contact-content {
    grid-template-columns: 1.7fr 1fr;
  }
}

.about-contact-photo {
  width: 100%;
  margin-bottom: 3rem;
}

.about-contact-text {
  font-family: $secondaryFont;
  font-size: 1.3rem;
  color: white;
  line-height: 1.8rem;
  // font-weight: 400;
}

@media (min-width: $desktop) {
  .about-contact-text {
    font-size: 1.7rem;
    line-height: 2.2rem;
    // font-weight: 400;
  }
  
}

.about-contact-text div {
  margin-bottom: 1rem;
}

.resume {
  color: $yellowLight;
  font-family: $mainFont;
  transition: ease-in 0.15s;
  // padding-top: 2rem;
  font-size: 1.5rem;
}

.resume:hover {
  color: $blueLight;
  // margin-left: 1rem;
}

@media (min-width: $desktop) {
  .resume {
    font-size: 1.9rem;
  }
  
}


// .home {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr 1fr;
//   grid-gap: 0;
//   filter: brightness(0.2);
// }

// .home img {
//   width: 100%;
// }

// .home2 {
//   grid-gap: 0;
//   filter: brightness(0.2);
//   display: none;
// }

// .home2 img {
//   width: 100%;
// }

// @media (min-width: $laptop) {
// }

// @media (min-width: $desktop) {
//   .home {
//     grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
//   }
//   .home2 {
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
//   }
// }

.contactForm {
  margin-top: 5rem;
  // background-color: $redLight;
  // outline: white solid .3rem;
  // padding: 2rem;
  color: $redLight;
  font-family: $mainFont;

}

.botField {
  height: .1rem;
  overflow: hidden;
}

.contactName {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

label {
  font-size: 1.5rem;
  // color: $yellowLight;
}

input {
  width: 100%;
  padding: .5rem;
  font-style: oblique;
  font-family: $secondaryFont;
  font-size: 1.5rem;
}

textarea {
  width: 100%;
  padding: .5rem;
  font-style: oblique;
  font-family: $secondaryFont;
  font-size: 1.5rem;
}

.submit {
  background-color: $yellowLight!important;
  border: none!important;
  text-transform: uppercase!important;
  font-style: normal!important;
  font-weight: bold!important;
}

.submit:hover {
   background-color: $blueLight!important;
   transition: .15s ease-in!important;
}

.thankyou {
  color: white;
  font-family: $mainFont;
  font-size: 3rem;
  margin: auto;
  display: grid;
  align-items: center;
  height: 20rem;
}

.thankyou div {
  text-align: center;
}