// .main {
//     display: flex;
//     flex-direction: row;
// }

a:visited {
  text-decoration: none;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 550px) {
  .main {
    justify-content: center;
  }
}

.main {
  display: flex;
  //   justify-content: center;
  align-items: center;
}

.main-text {
  position: absolute;
  font-family: $secondaryFont;
  z-index: 1;
  display: flex;
  flex-direction: column;
//   text-transform: uppercase;
  width: 30rem;
//   border: 0.3rem solid $redLight;
  font-size: 3rem;
  margin: .75rem;
}

@media (min-width: 550px) {
  .main-text {
    width: 35rem;
    font-size: 3.5rem;
    line-height: 5.5rem;
    margin-left: 5%;
  }
}

.main-text a {
  // margin: 1.5rem;
  // margin: .5rem;
  padding: 1rem;
  color: $yellowLight;
//   border: 0.3rem solid $redLight;


  background-color: $blueDark;
}

.main-text a:hover {
  color: $blueDark;
  background-color: $redLight;
  // text-align: center;
  transition: 0.15s ease-in;
  font-style: italic;
  // padding-left: 2rem;
}


.home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0;
  filter: brightness(0.2);
}

.home img {
  width: 100%;
}

.home2 {
  grid-gap: 0;
  filter: brightness(0.2);
  display: none;
}

.home2 img {
  width: 100%;
}

@media (min-width: $laptop) {
}

@media (min-width: $desktop) {
  .home {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .home2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
