#portfolio {
  display: flex;
  flex-direction: row;
  z-index: -1;
  height: 135vh;
}

@media (min-width: $phone) {
  #portfolio {
    height: 175vh;
  }
}

@media (min-width:550px) {
  #portfolio {
    height: 220vh;
  }
}

@media (min-width: $tablet) {
  #portfolio {
    height: 200vh;
  }
}

@media (min-width: $laptop) {
  #portfolio {
    height: 215vh;
  }
}

@media (min-width: $desktop) {
  #portfolio {
    height: 250vh;
  }
}

[type="radio"] {
  display: none;
}

[type="radio"]:checked ~ label ~ .gallery-items {
  // z-index: 1;
  display: block;
}

[type="radio"]:checked + label {
  color: $redLight;
  border-top: 0.5rem solid $yellowLight;
}

.portfolio-tab {
  font-family: $secondaryFont;
  font-size: 1.7rem;
  margin: 1rem;
  margin-left: 0rem;
  margin-top: 3rem;
}

@media (min-width:$tablet) {
  .portfolio-tab{
    font-size: 2rem;
  margin: 2rem;
  margin-left: 0;
  }
}

label {
  // display: block;
  // padding-top: 1rem;
  font-weight: 400;
  font-style: italic;
  border: 1px solid transparent;
  // font-size: 2rem;
  font-family: $mainFont;
  color: $redLight;
  cursor: pointer;
}

label:hover {
  color: $blueLight;
  transition: ease-in 0.3s;
}

.gallery-items {
  display: none;
  position: absolute;
  width: 84%;
  // height: 85vh;
  margin-top: 3rem;
  left: 8%;
}

@media (min-width: $laptop) {
  .gallery-items {
    width: 70%;
    left: 15%;
  }
}

.gallery-item {
  text-align: center;
  // display: table;
  
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4%;
}

@media (min-width: $tablet) {
  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
    // grid-gap: 3rem;
  }
}

// @media (min-width: $laptop) {
//   .gallery {
//     grid-gap: 4rem;
//   }
// }

// .gallery-item {
//   outline: $redLight .2rem solid;
// }

.galleryTitle {
  font-family: $mainFont;
  color: white;
  font-size: 1.7rem;
margin: 2rem;
  // background-color: rgb(251, 255, 202);
  padding: 0.3rem;
  text-align: center;
}


.gallery-image {
  width: 100%;
}

.gallery-item-box {
  // display: none;
  position: absolute;
  width: 48%;
  background-color: rgba(black, $alpha: 0);
  transition: 0.3s ease-in;
}

.gallery-item-box:after {
  content: "";
  display: block;
  padding-top: 100%;
}

.gallery-item:hover .gallery-item-box {
  background-color: rgba(black, $alpha: 0.6);
}


@media (min-width: $tablet) {
   .gallery-item-box {
    width: 30.68%;
  }
}

// @media (min-width: $laptop) {
//   .gallery-item-box {
//    width: 29.79%;
//  }
// }


.gallery-item-text {
  position: absolute;
  opacity: 0;
  transition: 0.3s ease-in;
  font-family: $secondaryFont;
  font-weight: 100;
  font-size: 1.4rem;
  color: white;
  z-index: 2;
  padding: 2%;
  width: 44%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;

}

.gallery-item-text:after {
  content: "";
  display: block;
  padding-top: 100%;
}

.gallery-item:hover .gallery-item-text {
  opacity: 1;
}

@media (min-width: $tablet) {
  .gallery-item-text {
   width: 26.667%;
  //  padding-top: 14.5%;
 }
}

@media (min-width: $laptop) {
  .gallery-item-text {
   font-size: 1.75rem;
 }
}

#portfolio-subTitle {
  margin-top: 8%;
  // color: $yellowLight;
}

@media (min-width:$tablet) {
  #portfolio-subTitle {
    margin-top: 2rem;
  }
}

.SISC {
  fill:  rgb(229, 227, 255);
  background-color: black;
}

.inventor {
  display: grid;
  grid-template-columns: 1fr;
}

.inventor-text {
  position: absolute;
  font-family: $secondaryFont;
  font-weight: 100;
  font-size: 1.4rem;
  color: white;
  z-index: 2;
  padding: 4%;
  text-transform: uppercase;
}


.inventor-box {
  position: absolute;
  width: 100%;
  height: 47.3vw;
  background-color: rgba(black, $alpha: 0);
  transition: 0.3s ease-in;
}

// .inventor-text:after {
//   content: "";
//   display: block;
//   padding-top: 50%;
// }


.gallery-item:hover .inventor-box {
  background-color: rgba(black, $alpha: 0.6);
}

@media (min-width: $phone) {
  .inventor-box {
    height: 46.2vw;
  }
}

@media (min-width: $tablet) {
  .inventor-box {
    height: 46.5vw;
  }
}

@media (min-width: $laptop) {
  .inventor-box {
    height: 38.95vw;
  }

  .inventor-text {
    font-size: 1.75rem;
  }
}
