$mainFont:'Josefin Sans', sans-serif;
$secondaryFont: 'Work Sans', sans-serif;


$blueMid: rgb(0,125,140);
$blueLight: #FE5F55;
$blueDark: rgb(0,87,82);

$redMid: rgb(212,6,0);
$redLight: #EDAE49;
$redDark: rgb(138,0,17);

$yellowDark: rgb(255,192,64);
$yellowMid: #FE5F55;
$yellowLight: #18A999;

$grey:  #292929;

$phone:  400px;
$tablet: 700px;
$laptop: 1000px;
$desktop: 1400px;