$mainFont:'Josefin Sans', sans-serif;
$secondaryFont: 'Nunito Sans', sans-serif;


$blueMid: rgb(0,125,140);
$blueLight: rgb(137,227,239);
$blueDark: rgb(0,87,82);

$redMid: rgb(212,6,0);
$redLight: rgb(225,155,149);
$redDark: rgb(138,0,17);

$yellowDark: rgb(255,192,64);
$yellowMid: rgb(255,230,140);
$yellowLight: rgb(251, 255, 202);



$phone:  400px;
$tablet: 700px;
$laptop: 1000px;
$desktop: 1400px;